 @import 'src/assets/styles/variables.scss';
 @import 'src/assets/styles/mixin.scss';
 .app-wrapper {
   @include clearfix;
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   background-color: #f2f3f8; // 左边
   .iphone-x {
     // background: url(./../../assets/img/iphonex.png) no-repeat;
     border: 10xp solid red;
     border-top-width: 30px;
     border-image: url(./../../assets/img/iphonex.png);
     transform: translate(-250%, 15%);
     display: flex;
     width: 490px;
     border-radius: 30px;
     overflow: hidden;
     height: 726px;
     position: relative;
     .show-iframe {
       width: 480px;
       overflow-x: hidden;
       overflow-y: auto;
     }
   }
 }
