     @import 'src/assets/styles/variables.scss';
     @import 'src/assets/styles/mixin.scss';
     .app-wrapper {
       @include clearfix;
       position: relative;
       height: 100%;
       width: 100%;
       display: flex;
       overflow: hidden;
       background-color: #f2f3f8;
.app-header{
  padding-right: 0;
}
       // 左边
       .app-nav {
         width: 100%;
       }
       .top-button {
         float: right;
         right: 0px;
         text-align: right;
         width: 270px;
         margin-right: 0px;
         button {
           border: 0;
           height: 55px;
           width: 90px;
           border-radius: 0px;
           &:first-child{
             border-left:1px solid #dcdfe6;
           }
         }
       }
     }

     .zk-main {
       position: relative;
       padding: 0;
       overflow: hidden; //  padding-top: 10px;
       .content-right {
         border-left: 1px solid #dcdfe6;
         width: 280px;
         position: absolute;
         top: 1px;
         right: -4px;
       }
     }

     .main-content {
       width: 100%;
       height: 100%;
       .content-left {
         float: left;
         text-align: center;
         .content-phone {
           border-top-width: 30px;
           background-position: center top;
           background: url(../../../static/img/iphone8_black.png) no-repeat;
           background-color: #F2F3F8;
           background-origin: content-box;
           background-position: center;
           background-size: 427px 798px;
           height: 790px;
           width: 427px;
           position: relative;
           .innerbox-phone {
             .show-iframe {
               width: 340px;
               overflow-x: hidden;
               margin-top: 104px;
               height: 581px;
               margin-right: -1px;
               overflow-y: auto;
             }
           }
         }
       }
       .content-right {
         position: absolute;
         top: 2px;
         margin-left: -1px;
         background-color: #ffffff;
         -webkit-transition: all 0.3s ease;
         -moz-transition: all 0.3s ease;
         -ms-transition: all 0.3s ease;
         -o-transition: all 0.3s ease;
         transition: all 0.3s ease;
         -webkit-transform: translateY(0);
         -moz-transform: translateY(0);
         -ms-transform: translateY(0);
         -o-transform: translateY(0);
         transform: translateY(0);
         -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
         -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
         box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
         position: relative;
         z-index: 10;
         float: right;
         background: #ffffff;
         .right-box {
           margin-top: 0;
           overflow: hidden;
         }
       }
     }
