 @import 'src/assets/styles/mixin.scss';
 .app-wrapper {
   @include clearfix;
   position: relative;
   height: 100%;
   width: 100%;
   display: flex;
   background-color: #f2f3f8; // 左边
   .app-left {
     background: #21232f;
     top: 0;
     bottom: 0;
     position: fixed;
     height: auto !important;
     left: 0;
     z-index: 100;
     -webkit-backface-visibility: hidden;
     backface-visibility: hidden;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
   } // 头部
   .app-header {
     height: 60px;
     background-color: #ffffff;
     -webkit-transition: all 0.3s ease;
     -moz-transition: all 0.3s ease;
     -ms-transition: all 0.3s ease;
     -o-transition: all 0.3s ease;
     transition: all 0.3s ease;
     -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
     -ms-transform: translateY(0);
     -o-transform: translateY(0);
     transform: translateY(0);
     -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
     -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
     box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
   }
   .iphone-x {
     // background: url(./../../assets/img/iphonex.png) no-repeat;
     border: 10xp solid red;
     border-top-width: 30px;
     border-image: url(./../../assets/img/iphonex.png);
     transform: translate(-250%, 15%);
     display: flex;
     width: 490px;
     border-radius: 30px;
     overflow: hidden;
     height: 726px;
     position: relative;
     .show-iframe {
       width: 480px;
       overflow-x: hidden;
       overflow-y: auto;
     }
   }
 }
