 @import 'src/assets/styles/variables.scss';
 @import 'src/assets/styles/mixin.scss';
 .popup-newpage {
   position: absolute;
   top: 56px;
   left: -150%;
   z-index: 50;
 }

 .page-newpage-visible {
   left: 355px;
 }

 .el-dialog__wrapper .el-dialog .el-dialog__body {
   padding: 0px;
 }

 .widget__dialog {
   padding: 0;
   .el-dialog__body {
     padding: 0px;
   }
   .module-title {
     height: 50px;
     line-height: 50px;
     color: #3899ed;
     padding-left: 20px;
     font-size: 18px;
   }
   .module-nav {
     height: 50px;
     border-top: 1px solid #d4ecfe;
     border-bottom: 1px solid #d4ecfe;
     background: #ebf7ff;
     ul {
       li {
         float: left;
         height: 50px;
         line-height: 50px;
         color: #0b5672;
         padding: 0 40px;
         border-right: 1px solid $--border-color-extra-light;
       }
       li.active {
         background: #fff;
       }
     }
   }
   .module-search {
     margin-top: 1px;
     height: 50px;
     display: flex;
     border-bottom: 1px solid $--border-color-extra-light;
     .search-left {
       height: 50px;
       flex: 1;
       line-height: 50px;
       color: #7d94a6;
       padding-left: 20px;
     }
     .search-right {
       height: 50px;
       display: flex;
       align-items: center;
       padding-right: 5px;
       .el-button {
         margin-left: 10px;
       }
     }
   }
   .module-content {
     height: 100%;
     display: flex;
     border-bottom: 1px solid $--border-color-extra-light;
     .content-left {
       width: 140px;
       max-height: 500px;
       overflow-y: hidden;
       border-right: 1px solid $--border-color-extra-light;
       ul {
         li {
           height: 40px;
           line-height: 40px;
           padding-left: 30px;
           color: #29292a;
         }
         li.active {
           background: #3899ed;
           color: #fff;
         }
       }
     }
     .content-right {
       padding: 12px;
       max-height: 500px;
       overflow-y: scroll;
       flex: 1;
       .content-box {
         padding: 4px;
         height: 200px;
         overflow: hidden;
         .el-card__body {
           float: left;
           width: 260px;
           height: 200px;
           border-radius: 5px;
           border: $--border-color-extra-light;
           margin-right: 10px;
           margin-bottom: 10px;
           width: 100%;
           height: 500px;
           overflow: auto;
         }
         img {
           width: 100%;
           height: 150px;
           border-bottom: 2px solid #f1f1f1;
         }
         .time {
           font-size: 13px;
           color: #999;
         }
         .bottom {
           margin-top: 13px;
           line-height: 12px;
           padding: 0;
           float: right;
         }
         .clearfix:before,
         .clearfix:after {
           display: table;
           content: '';
         }
         .clearfix:after {
           clear: both;
         }
       }
     }
   }
 }
