.m-aside-menu {
  .m-menu__nav {
    margin-top: 10px;
    >.m-menu__item {
      >.m-menu__link {
        display: block;
        position: relative;
        text-align: center;
        height: auto;
        padding: 0.5rem 0.5rem;
        >.m-menu__link-icon {
          display: inline-block;
          text-align: center;
          font-size: 1.5rem;
          color: #868aa8;
        }
        >.m-menu__link-title,
        >.m-menu__link-text {
          display: block;
          margin-top: 0.45rem;
          text-align: center;
          font-size: 0.88rem;
          font-weight: 400;
          color: #868aa8;
          .m-menu__link-wrap {
            margin: 0 auto;
            width: auto;
            text-align: center;
            .m-menu__link-text {
              width: auto;
              text-align: center;
              font-weight: 400;
            }
            .m-menu__link-badge {
              position: absolute;
              right: 0.45rem;
              margin-top: -1px;
            }
          }
        }
        >.m-menu__link-arrow {
          display: inline-block;
          position: absolute;
        }
        >.m-menu__ver-arrow {
          display: none;
        }
      }
      &.m-menu__item--active {
        >.m-menu__link {
          background: #282a3a;
          .m-menu__link-text {
            color: #fefefe !important;
          }
          .m-menu__link-icon {
            color: #bf2d46 !important;
          }
        }
      }
    }
  }
}

.app-left {
  background: #21232f;
  top: 0;
  bottom: 0;
  position: fixed;
  height: auto !important;
  left: 0;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  .nav-logo {
    width: $HeadHeight;
    height: $HeadHeight;
    text-align: center;
    vertical-align: middle;
    img {
      margin-top: 12px;
    }
  }
}

.el-menu-item i {
  margin-right: 5px;
} // 头部
.app-header {
  padding-left: 55px;
  height: 55px;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-transform: translateY(0);
  -moz-transform: translateY(0);
  -ms-transform: translateY(0);
  -o-transform: translateY(0);
  transform: translateY(0);
  -webkit-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  -moz-box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  box-shadow: 0px 1px 15px 1px rgba(69, 65, 78, 0.1);
  .el-menu {
    border: none;
    top: -5px;
  }
}
